/* Import Font */ 
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

/* Default Background */ 

html, body {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Catamaran", sans-serif;
}

/* Container Height */

.wrapper {
    height: 100vh;
}

/* HOME PAGE  */
/* Menu and Title Page */

.section1 {
    height: 100vh;
    overflow: hidden;
}

/* Main Menu */

.nav {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    position: fixed;
    width: 100vw;
    gap: 20px;
    background-color: rgba(160, 162, 157, 0.6);
    z-index: 10;
    padding: 10px;
    margin-right: -20px;
}

/* HEADER AND FOOTER */

.nav-btn,
.foot-btn {
    border: 0px;
    background-color: rgba(160, 162, 157, 0);
    border-radius: 15px;
    color: white;
    font-size: 25px;
}

footer {
    background-color: rgba(160, 162, 157, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    gap: 20px;
}

.nav-btn:hover,
.down-arrow:hover,
.foot-btn:hover  {
    cursor: pointer;   
}

/* HOME PAGE  */
/* Title Background */
.image-container {
    background-image: url(images/tomatoes5.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.title-container {
    width: 100vw;
    height: 60vh;
    font-size: 50px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

/* Learn More Arrow */
.arrow-container {
    width: 100vw;
    height: 40vh;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    z-index: 5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

/* About Page */

#content {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.818));
    height: 200vh;
    width: 100vw;
}

.content-text {
    font-size: 2rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 50vh;
}

.order-button {
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
}

#order-btn {
    font-size: 2rem;
    color: white;
    background-color: rgb(160, 162, 157);
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
}

#order-btn:hover {
    background-color: rgba(160, 162, 157, 0.6);
}

/* L/R Images and Text */

.left-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    width: 50vw;
    padding: 40px;
}

.content-image {
    display: flex;
    padding: 50px;
    justify-content: center;
}

#content-image-left,
#content-image-right {
    height: 80%;
    width: 80%;
}

.content-image-text {
    color: white;
    font-size: 2rem;
    display: flex; 
    text-align: center;
    align-items: center;
}

/* MENU */


/* ORDER ONLINE */
.contact-container {
    background-image: url(images/tomatoes4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.announcement-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.order-announcement {
    font-size: 50px;
    color: white;
    background-color: rgba(160, 162, 157, 0.6);
}

/* CONTACT US*/
