/* Default Background */ 

body {
    margin: 0;
}

section {
    font-size: 2rem;
    padding: 2rem;
    background-color: #333;
    color: white;
}

#main-tomato {
    height: 85%;
    width: 100%;
}